.increase-btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.qt-cont{
    display: flex;
    height: 4vh;
}
.change-qt {
  width: 2vw;
  text-align: center;
}
.decrease-btn {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.change-qt-btn{
    width: 2vw;
    background-color: rgb(63, 63, 138);
    color: white;
    border: none;
}
.change-qt-btn:hover{
  background-color: rgb(41, 41, 91);
  cursor: pointer;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
