.prod-cont{
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 22rem;
  align-items: center;
  box-shadow: 0px 0px 9px -5px grey;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 1rem;
}
.prod-cont:hover{
  cursor: pointer;
}
.prod-img-cont{
  width: 100%;
  text-align: center;
}
.prod-img-cont>img{
  width: 8rem;
}
.prod-ratings-cont{
  display: flex;
}
.prod-addToCart-cont>button{
  color: white;
  display: flex;
  align-items: center;
  border: none;
  justify-content: space-evenly;
  border-radius: 1rem;
  width: 12rem;
  height: 2rem;
  background-color:  rgb(63, 63, 138);;
}
.prod-addToCart-cont>button:hover{
  cursor: pointer;
}

/* .prod-cont {
  width: 18vw;
  font-size: 0.8rem;
  display: flex;
  color: black;
  gap: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 9px -5px grey;
  justify-content: space-between;
}
.prod-img-cont > div {
    width: 100%;
}
.prod-img-cont > div > img {
  height: 43vh;
  width: 100%;
}

.prod-ratings-cont {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0 1rem;
}
.prod-price-cont {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 1rem;
}
.prod-title-cont{
    padding: 0 1rem;

}
.prod-quant-cont{
  padding: 0 1rem;
}
.prod-addToCart-cont{
  padding: 0 1rem;
}
.prod-addToCart-cont>button{
  background-color: rgb(63, 63, 138);
  color: white;
  padding: 0.2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  border: none;
}.prod-addToCart-cont>button>span{
  font-size: 1.2rem;
}
.prod-addToCart-cont>button:hover{
  background-color: rgb(41, 41, 91);
  cursor: pointer;
} */